.concept_light-representation .furigana,.meaning-meaning,.concept_light-representation .text span
{
    cursor: pointer;
}

.concept_light-representation .furigana .selected,.concept_light-representation .text span.selected
{
    color: red;
}

.meaning-meaning.selected
{
    color: green;
}