.concept_light-representation .furigana,.concept_light-representation .text span,.meaning-definition-section_divider
{
    cursor: pointer;
}

.concept_light-representation .furigana .selected,.concept_light-representation .text span.selected
{
    color: red;
}

.meaning-meaning.selected
{
    color: green;
}