@charset "UTF-8";

@main-colour: #c9e591;
@sub-colour: #83c1d6;
@hantai-colour: #e55c60;

@main-colour-darker: #bbe565;

@darkest-text: #343a40;
@medium-text: #5a5a5a;
@lighter-text: #878787;

body
{
    width: 330px;
    height: 550px;
    margin: 0;
}